<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign UP</title>
</head>
<body>
    <header>
        <h1>Welcome to CodeFellowship</h1>
        <h1>Please create a user account</h1>
    </header>

    <main>
        <form action="/signup" method="POST">
        <label>First Name</label><input name="first-name" type="text"/>
        <label>Last Name</label><input name="last-name" type="text"/>
        <label>Date of Birth</label><input name="date-of-birth" type="date"/> <br/>
        <label>Username</label><input name="username" type="text"/>
        <label>Password</label><input name="password" type="password"/> <br/>
        <label>Bio</label><input name="bio" type="text"/> <br/>
        <label>Submit</label><input type="submit"/>
        </form>

        <p><a href="/userinfo">View Detail Here</a></p>
    </main>

</body>
</html>